.App {
  text-align: center;
}
img{
  height: 250px;
  width: 250px;
  
}
.Profile{
  text-align:center;
 
  background-size: cover;
  background-repeat: repeat-y;
}
h1,h3,p{
  color:darkolivegreen;
}

